{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_bluesky_name": {
            "value": "S4MSCBluesky"
        },
        "region": {
            "value": ""
        },
        "tenantId": {
            "value": ""
        },
        "clientId": {
            "value": ""
        },
        "clientSecret": {
            "value": ""
        }
    }
}